<template>
  <v-container>
    <v-text-field
      v-model="inputCronModel"
      outlined
      dense
      filled
      style="width: 200px; margin-bottom: 30px"
    >
    </v-text-field>
    <h1>{{ inputCronModel | translate }}</h1>
    <v-dialog v-model="isShowDialog" width="900">
      <template #activator="{ on, attrs }">
        <v-btn
          color="red lighten-2"
          dark
          v-bind="attrs"
          v-on="on"
          @click="handleCodeCron"
        >
          Open Tabs Cron
        </v-btn>
      </template>
      <input-cron
        v-model="codeCronModel"
        :code-cron="inputCronModel"
        :index-tab="indexTab"
        :is-show-dialog="isShowDialog"
        @error="handleError"
      >
      </input-cron>
      <div class="wrap-group-btn">
        <v-btn class="btn-cancel" @click="handleCancelTabCron">Huỷ</v-btn>
        <v-btn
          color="primary"
          class="btn-update"
          :disabled="isDisabledUpdate"
          @click="handleUpdateCron"
        >
          Cập Nhật
        </v-btn>
      </div>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import InputCron from "@/components/TabsCron/InputCron.vue";
import { translateCron } from "@/utils/cron";
import { CRON_UNIT_INDEX, CRON_SYMBOL } from "@/const/cron.js";
const LENGTH_CODE_CRONTAB = 5;

interface ComponentMethods {
  handleCodeCron(): void;
  isTabMinute(crons: Array<string>): boolean;
  isTabHour(cron: Array<string>): boolean;
  isTabDay(cron: Array<string>): boolean;
  isTabWeek(crons: Array<string>): boolean;
  isTabMonth(cron: Array<string>): boolean;
  checkCronIndexTab(): void;
  isDayInWeek(str: string): boolean;
  handleCancelTabCron(): void;
  handleUpdateCron(): void;
  handleError(value: boolean): void;
}

interface ComponentData {
  codeCronModel: string;
  inputCronModel: string;
  isShowDialog: boolean;
  indexTab: number;
  isDisabledUpdate: boolean;
  isError: boolean;
}

interface ComponentComputed {}

interface ComponentProps {}

export default (
  Vue as VueConstructor<
    Vue & ComponentData & ComponentComputed & ComponentMethods & ComponentProps
  >
).extend({
  components: {
    InputCron,
  },
  filters: {
    translate(value: string) {
      if (!value) return;
      return translateCron(value);
    },
  },
  data() {
    return {
      codeCronModel: "",
      inputCronModel: "",
      isShowDialog: false,
      indexTab: 0,
      isDisabledUpdate: false,
      isError: false,
    };
  },

  watch: {
    codeCronModel(newValue) {
      if (!newValue) {
        this.isDisabledUpdate = true;
      } else {
        this.isDisabledUpdate = false;
      }
    },
  },
  methods: {
    handleCodeCron() {
      if (this.inputCronModel) {
        this.checkCronIndexTab();
      }
    },
    isTabMinute(crons: Array<string>) {
      if (
        crons[CRON_UNIT_INDEX.MINUTE].includes(CRON_SYMBOL.STEP) &&
        crons[CRON_UNIT_INDEX.HOUR] === CRON_SYMBOL.ANY_VALUE &&
        crons[CRON_UNIT_INDEX.DAY_OF_MONTH] === CRON_SYMBOL.ANY_VALUE &&
        crons[CRON_UNIT_INDEX.MONTH] === CRON_SYMBOL.ANY_VALUE &&
        crons[CRON_UNIT_INDEX.DAY_OF_WEEK] === CRON_SYMBOL.ANY_VALUE
      ) {
        return true;
      }

      return false;
    },
    isTabHour(crons: Array<string>) {
      if (
        !isNaN(Number(crons[CRON_UNIT_INDEX.MINUTE])) &&
        crons[CRON_UNIT_INDEX.HOUR].includes(CRON_SYMBOL.STEP) &&
        crons[CRON_UNIT_INDEX.DAY_OF_MONTH] === CRON_SYMBOL.ANY_VALUE &&
        crons[CRON_UNIT_INDEX.MONTH] === CRON_SYMBOL.ANY_VALUE &&
        crons[CRON_UNIT_INDEX.DAY_OF_WEEK] === CRON_SYMBOL.ANY_VALUE
      )
        return true;
      return false;
    },
    isTabDay(crons: Array<string>) {
      if (
        !isNaN(Number(crons[CRON_UNIT_INDEX.MINUTE])) &&
        !isNaN(Number(crons[CRON_UNIT_INDEX.HOUR])) &&
        crons[CRON_UNIT_INDEX.DAY_OF_MONTH].includes(CRON_SYMBOL.STEP) &&
        crons[CRON_UNIT_INDEX.MONTH] === CRON_SYMBOL.ANY_VALUE &&
        crons[CRON_UNIT_INDEX.DAY_OF_WEEK] === CRON_SYMBOL.ANY_VALUE
      )
        return true;
      return false;
    },

    isTabWeek(crons: Array<string>) {
      if (
        !isNaN(Number(crons[CRON_UNIT_INDEX.MINUTE])) &&
        !isNaN(Number(crons[CRON_UNIT_INDEX.HOUR])) &&
        crons[CRON_UNIT_INDEX.DAY_OF_MONTH] === CRON_SYMBOL.ANY_VALUE &&
        crons[CRON_UNIT_INDEX.MONTH] === CRON_SYMBOL.ANY_VALUE &&
        this.isDayInWeek(crons[CRON_UNIT_INDEX.DAY_OF_WEEK])
      )
        return true;

      return false;
    },
    isTabMonth(crons: Array<string>) {
      return (
        !isNaN(Number(crons[CRON_UNIT_INDEX.MINUTE])) &&
        !isNaN(Number(crons[CRON_UNIT_INDEX.HOUR])) &&
        !isNaN(Number(crons[CRON_UNIT_INDEX.DAY_OF_MONTH])) &&
        crons[CRON_UNIT_INDEX.MONTH].includes(CRON_SYMBOL.STEP) &&
        crons[CRON_UNIT_INDEX.DAY_OF_WEEK] === CRON_SYMBOL.ANY_VALUE
      );
    },
    checkCronIndexTab() {
      if (this.inputCronModel?.includes(CRON_SYMBOL.RANGE)) {
        this.indexTab = CRON_UNIT_INDEX.ADVANCED;
      } else if (this.inputCronModel === "") {
        this.indexTab = CRON_UNIT_INDEX.MINUTE;
      } else {
        const crons = this.inputCronModel?.trim().split(/\s+/);
        if (crons?.length === LENGTH_CODE_CRONTAB) {
          if (this.isTabMinute(crons)) {
            this.indexTab = CRON_UNIT_INDEX.MINUTE;
          } else if (this.isTabHour(crons)) {
            this.indexTab = CRON_UNIT_INDEX.HOUR;
          } else if (this.isTabDay(crons)) {
            this.indexTab = CRON_UNIT_INDEX.DAY_OF_MONTH;
          } else if (this.isTabWeek(crons)) {
            this.indexTab = CRON_UNIT_INDEX.MONTH;
          } else if (this.isTabMonth(crons)) {
            this.indexTab = CRON_UNIT_INDEX.DAY_OF_WEEK;
          } else {
            this.indexTab = CRON_UNIT_INDEX.ADVANCED;
          }
        } else {
          this.indexTab = CRON_UNIT_INDEX.ADVANCED;
        }
      }
    },

    isDayInWeek(str: string) {
      const nums = str.split(",");
      for (let i = 0; i < nums.length; i++) {
        if (Number(nums[i]) > 6 || isNaN(Number(nums[i]))) {
          return false;
        }
      }
      return true;
    },
    handleCancelTabCron() {
      this.isShowDialog = false;
    },
    handleUpdateCron() {
      this.isShowDialog = false;
      this.inputCronModel = this.codeCronModel;
    },
    handleError(value: boolean) {
      this.isDisabledUpdate = value;
    },
  },
});
</script>
