<template>
  <validation-observer v-slot="{ errors }" ref="observerRef">
    <v-card>
      <v-tabs v-model="tabModel" class="tabs">
        <v-tab v-for="item in tabs" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tabModel" class="tab-item">
        <v-tab-item>
          <tab-minute v-model="minuteModel" @input="handleMinute"></tab-minute>
        </v-tab-item>
        <v-tab-item>
          <tab-hour v-model="hourModel" @input="handleTabHour"> </tab-hour>
        </v-tab-item>
        <v-tab-item>
          <tab-day v-model="dayModel" @input="handleTabDay"> > </tab-day>
        </v-tab-item>
        <v-tab-item>
          <tab-week v-model="weekModel" @input="handleTabWeek"> > </tab-week>
        </v-tab-item>
        <v-tab-item>
          <tab-month v-model="monthModel" @input="handleTabMonth">
            >
          </tab-month>
        </v-tab-item>

        <v-tab-item>
          <tab-advanced
            v-model="advancedModel"
            @input="handleAdvanced"
          ></tab-advanced>
        </v-tab-item>
      </v-tabs-items>

      <div class="pl-4 pt-2 code-cron">
        <span class="error-message">{{
          showError(Object.values(errors).flat())
        }}</span>
        <span>{{ showStringCron(Object.values(errors).flat()) }}</span>
      </div>
    </v-card>
  </validation-observer>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import { ValidationObserver } from "vee-validate";
import TabMinute from "@/components/TabsCron/TabMinute.vue";
import TabHour from "@/components/TabsCron/TabHour.vue";
import TabDay from "@/components/TabsCron/TabDay.vue";
import TabWeek from "@/components/TabsCron/TabWeek.vue";
import TabMonth from "@/components/TabsCron/TabMonth.vue";
import TabAdvanced from "@/components/TabsCron/TabAdvanced.vue";
import { CRON_UNIT_INDEX, CRON_SYMBOL, DEFAULT_CODE_CRON } from "@/const/cron";
import { CronDay, CronHour, CronMonth, CronWeek } from "~/interface/inputCron";
import CronMixin from "~/mixins/cron-mixin";

const RESET_TIME = "00:00";

interface ComponentData {
  $refs: {
    observerRef: InstanceType<typeof ValidationObserver>;
  };
  tabModel: number;
  tabs: Array<string>;
  minuteModel: string;
  formatAtTimeOfDayModel: string;
  hourModel: CronHour;
  dayModel: {
    everyDayModel: string;
    atTimeOfDayModel: string;
  };
  weekModel: {
    checkboxDayModels: Array<number>;
    atTimeOfDayModel: string;
  };
  monthModel: {
    atDayModel: string;
    atTimeOfDayModel: string;
    everyMonth: string;
  };
  advancedModel: string;
  isActiveCodeCron: boolean;
}

interface ComponentMethods {
  handleMinute(value: string): void;

  handleTabHour(value: CronHour): void;

  handleTabDay(value: CronDay): void;

  handleTabMonth(value: CronMonth): void;

  handleTabWeek(value: CronWeek): void;

  handleAdvanced(value: string): void;

  showError(arr: Array<string>): string;

  showStringCron(arr: Array<string>): string;

  formatTimeOfDay(value: string): string;

  filterNumber(arr: Array<string>): Array<string>;

  filterChildNumber(value: string): string;

  filterNumberCron(): Array<string>;

  getNumberCron(value: number): string;
}

interface ComponentComputed {}

interface ComponentProps {
  codeCron: string;
  indexTab: number;
  isShowDialog: boolean;
}

export default (
  Vue as VueConstructor<
    Vue &
      InstanceType<typeof CronMixin> &
      ComponentData &
      ComponentComputed &
      ComponentMethods &
      ComponentProps
  >
).extend({
  name: "InputCron",
  components: {
    ValidationObserver,
    TabMinute,
    TabHour,
    TabDay,
    TabWeek,
    TabMonth,
    TabAdvanced,
  },
  mixins: [CronMixin],
  props: {
    codeCron: {
      type: String,
      default: "",
    },
    indexTab: {
      type: Number,
      required: true,
    },
    isShowDialog: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      tabModel: 1,
      tabs: ["Phút", "Giờ", "Ngày", "Tuần", "Tháng", "Nâng cao"],
      minuteModel: "1",
      formatAtTimeOfDayModel: "",
      hourModel: {
        everyHourModel: "1",
        atMinuteOfHourModel: "0",
      },
      dayModel: {
        everyDayModel: "1",
        atTimeOfDayModel: RESET_TIME,
      },
      weekModel: {
        checkboxDayModels: [1],
        atTimeOfDayModel: RESET_TIME,
      },
      monthModel: {
        atDayModel: "1",
        atTimeOfDayModel: RESET_TIME,
        everyMonth: "1",
      },
      advancedModel: "",
      isActiveCodeCron: false,
    };
  },
  watch: {
    tabModel(newValue, oldValue) {
      this.$refs.observerRef.reset();
      if (this.isActiveCodeCron || oldValue === this.indexTab) {
        switch (newValue) {
          case CRON_UNIT_INDEX.MINUTE:
            this.minuteModel = "1";
            this.innerValue = DEFAULT_CODE_CRON.MINUTE;
            break;
          case CRON_UNIT_INDEX.HOUR:
            this.hourModel = {
              everyHourModel: "1",
              atMinuteOfHourModel: "0",
            };
            this.innerValue = DEFAULT_CODE_CRON.HOUR;
            break;
          case CRON_UNIT_INDEX.DAY_OF_MONTH:
            this.dayModel = {
              everyDayModel: "1",
              atTimeOfDayModel: RESET_TIME,
            };
            this.innerValue = DEFAULT_CODE_CRON.DAY_OF_MONTH;
            break;
          case CRON_UNIT_INDEX.MONTH:
            this.weekModel = {
              checkboxDayModels: [1],
              atTimeOfDayModel: RESET_TIME,
            };
            this.innerValue = DEFAULT_CODE_CRON.DAY_OF_WEEK;
            break;
          case CRON_UNIT_INDEX.DAY_OF_WEEK:
            this.monthModel = {
              atDayModel: "1",
              atTimeOfDayModel: RESET_TIME,
              everyMonth: "1",
            };
            this.innerValue = DEFAULT_CODE_CRON.MONTH;
            break;
          case CRON_UNIT_INDEX.ADVANCED:
            this.advancedModel = DEFAULT_CODE_CRON.ADVANCED;
            this.innerValue = "";
            break;
        }
      }
      this.isActiveCodeCron = true;
    },

    isShowDialog: {
      handler(newValue) {
        this.isActiveCodeCron = false;
        if (newValue && this.codeCron) {
          this.tabModel = this.indexTab;
          this.innerValue = this.codeCron;
          switch (this.tabModel) {
            case CRON_UNIT_INDEX.MINUTE:
              this.minuteModel = this.getNumberCron(CRON_UNIT_INDEX.MINUTE);
              break;
            case CRON_UNIT_INDEX.HOUR:
              this.hourModel = {
                everyHourModel: this.getNumberCron(CRON_UNIT_INDEX.HOUR),
                atMinuteOfHourModel: this.getNumberCron(CRON_UNIT_INDEX.MINUTE),
              };
              break;
            case CRON_UNIT_INDEX.DAY_OF_MONTH:
              this.dayModel = {
                everyDayModel: this.getNumberCron(CRON_UNIT_INDEX.DAY_OF_MONTH),
                atTimeOfDayModel:
                  this.getNumberCron(CRON_UNIT_INDEX.HOUR) +
                  ":" +
                  this.getNumberCron(CRON_UNIT_INDEX.MINUTE),
              };
              break;
            case CRON_UNIT_INDEX.MONTH:
              // eslint-disable-next-line no-case-declarations
              const nums = this.codeCron.trim().split(" ");
              this.weekModel = {
                checkboxDayModels: nums[nums.length - 1]
                  .split(",")
                  .map((i) => Number(i)),
                atTimeOfDayModel:
                  nums[CRON_UNIT_INDEX.HOUR] +
                  ":" +
                  nums[CRON_UNIT_INDEX.MINUTE],
              };
              break;
            case CRON_UNIT_INDEX.DAY_OF_WEEK:
              this.monthModel = {
                atDayModel: this.getNumberCron(CRON_UNIT_INDEX.DAY_OF_MONTH),
                atTimeOfDayModel:
                  this.getNumberCron(CRON_UNIT_INDEX.HOUR) +
                  ":" +
                  this.getNumberCron(CRON_UNIT_INDEX.MINUTE),
                everyMonth: this.getNumberCron(CRON_UNIT_INDEX.MONTH),
              };
              break;

            case CRON_UNIT_INDEX.ADVANCED:
              this.advancedModel = this.codeCron;
              break;
          }
        }
        if (!this.codeCron) {
          this.tabModel = CRON_UNIT_INDEX.MINUTE;
          this.innerValue = DEFAULT_CODE_CRON.MINUTE;
        }
      },
      immediate: true,
    },
  },

  methods: {
    handleMinute(value: string) {
      this.innerValue = `*/${value} * * * *`;
    },
    handleTabHour(value: CronHour) {
      this.innerValue = `${value.atMinuteOfHourModel} */${value.everyHourModel} * * *`;
    },
    handleTabDay(value: CronDay) {
      this.innerValue = `${this.formatTimeOfDay(value.atTimeOfDayModel)}*/${
        value.everyDayModel
      } * *`;
    },
    handleTabWeek(value: CronWeek) {
      const temporary: Array<number> = [];
      Object.assign(temporary, value.checkboxDayModels);
      this.innerValue = `${this.formatTimeOfDay(
        value.atTimeOfDayModel
      )}* * ${temporary.sort().join(",")}`;
    },
    handleTabMonth(value: CronMonth) {
      this.innerValue = `${this.formatTimeOfDay(value.atTimeOfDayModel)}${
        value.atDayModel
      } */${value.everyMonth} *`;
    },
    handleAdvanced(value: string) {
      this.innerValue = value;
    },
    showError(arr: Array<string>) {
      if (arr && arr.length > 0) {
        this.$emit("error", true);
        return arr[0];
      }
    },
    showStringCron(arr: Array<string>) {
      if (arr && arr.length === 0) {
        this.$emit("error", false);
        return this.innerValue;
      }
    },

    formatTimeOfDay(value: string) {
      this.formatAtTimeOfDayModel = "";
      let temporary: string | Array<string> = value;
      temporary = value?.split(":")?.reverse();
      for (let i = 0; i < temporary?.length; i++) {
        if (temporary[i][0] === "0") {
          temporary[i] = temporary[i][1];
        }
      }
      for (let i = 0; i < temporary?.length; i++) {
        this.formatAtTimeOfDayModel += temporary[i] + " ";
      }
      return this.formatAtTimeOfDayModel;
    },
    filterNumber(arr: Array<string>) {
      return arr.filter((x) => x !== CRON_SYMBOL.ANY_VALUE);
    },
    filterChildNumber(str: string) {
      const matches = str.match(/(\d+)/);
      if (matches) {
        return matches[0];
      }
    },
    filterNumberCron() {
      if (this.codeCron) {
        const crons: Array<string> = this.codeCron.trim().split(/\s+/);
        const nums: any = [];
        for (let i = 0; i < crons.length; i++) {
          if (
            crons[i] !== CRON_SYMBOL.ANY_VALUE &&
            this.filterChildNumber(this.filterNumber(crons)[i])
          ) {
            nums.push(this.filterChildNumber(this.filterNumber(crons)[i]));
          }
        }
        return nums;
      }
      return [];
    },
    getNumberCron(number: number) {
      if (this.filterNumberCron()[number]) {
        return this.filterNumberCron()[number];
      }
      return "";
    },
  },
});
</script>

<style>
.code-cron {
  background-color: #ffffff;
}

.flat-pickr:focus {
  outline: none;
}

.v-window {
  overflow: visible !important;
}

.list-checkbox label {
  margin-left: 4px !important;
}

.v-input--selection-controls__input {
  margin-right: 0 !important;
}

.btn-cancel {
  margin-right: 16px;
}

.btn-update {
  margin-right: 16px;
}

.wrap-group-btn {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-top: 40px;
}

.wrap-input-model {
  margin-top: 8px;
  margin-left: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid #ccc;
}

.wrap-input-model p {
  margin-bottom: 0 !important;
}

.wrap-input-model input {
  text-align: center;
}

.wrap-input-model-hour {
  width: 180px;
}

.wrap-input-model-hour input {
  text-align: center;
}

.hour-model-minute {
  width: 50px;
}

.wrap-input-label {
  margin-left: 16px;
}

.wrap-input-model-child {
  position: relative;
}

.icon-clock-wrap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 10px;
}

.icon-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-checkbox label {
  margin-left: 8px;
}

.inputMinute {
  width: 200px !important;
}

.checkbox-item {
  margin-left: 16px;
}

.active {
  color: red;
}

.error-message {
  color: red;
}

label {
  cursor: pointer;
}

.input-small {
  width: 60px;
}

.flat-pickr {
  width: 120px;
}

.v-btn {
  text-transform: capitalize !important;
}
</style>
