<template>
  <div class="wrap-input-model">
    <div class="ml-4 mr-4">Biểu thức cron</div>
    <div class="wrap-input-model-hour">
      <v-text-field
        v-model="innerValue"
        dense
        style="width: 180px"
      ></v-text-field>
    </div>

    <div class="translate ml-4">{{ innerValue | translate }}</div>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import { translateCron } from "@/utils/cron";
import CronMixin from "~/mixins/cron-mixin";

export default (
  Vue as VueConstructor<Vue & InstanceType<typeof CronMixin>>
).extend({
  name: "TabAdvanced",
  filters: {
    translate(value: string) {
      if (!value) return;
      return translateCron(value);
    },
  },
  mixins: [CronMixin],
  props: {
    value: {
      type: String,
      required: true,
    },
  },
});
</script>

<style></style>
