<template>
  <div class="wrap-input-model">
    <span class="ml-4 mr-4">Mỗi</span>
    <validation-provider rules="minDay|required">
      <v-text-field
        v-model="innerValue.everyDayModel"
        dense
        @keypress="isNumber($event)"
        @keydown="handleKeyDownDay($event)"
      >
      </v-text-field>
    </validation-provider>
    <span class="wrap-input-label mr-4">ngày, tại</span>
    <div class="wrap-input-model-child">
      <flat-pickr
        v-model="innerValue.atTimeOfDayModel"
        :config="config"
        class="pl-11 flat-pickr"
      ></flat-pickr>
      <span class="icon-clock-wrap"
        ><v-icon class="icon-clock">mdi-clock-time-three-outline</v-icon></span
      >
    </div>
  </div>
</template>

<script lang="ts">
import { ValidationProvider } from "vee-validate";
import Vue, { VueConstructor } from "vue";
import KEYCODE_VALUE from "@/const/key-code-value.js";
import CronMixin from "~/mixins/cron-mixin";

export default (
  Vue as VueConstructor<Vue & InstanceType<typeof CronMixin>>
).extend({
  name: "TabHour",
  components: {
    ValidationProvider,
  },
  mixins: [CronMixin],
  props: {
    value: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      config: {
        wrap: true,
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        static: true,
      },
    };
  },
  methods: {
    handleKeyDownDay(evt: KeyboardEvent) {
      evt = evt || window.event;
      const charCode = evt.which ? evt.which : evt.keyCode;
      if (charCode === KEYCODE_VALUE.UP_ARROW) {
        this.innerValue.everyDayModel =
          Number(this.innerValue.everyDayModel) + 1;
      } else if (charCode === KEYCODE_VALUE.DOWN_ARROW) {
        this.innerValue.everyDayModel =
          Number(this.innerValue.everyDayModel) - 1;
        if (this.innerValue.everyDayModel < 1) {
          this.innerValue.everyDayModel = 0;
        }
      }
    },
  },
});
</script>

<style></style>
