<template>
  <div class="wrap-input-model">
    <span class="ml-4 mr-4">Tại ngày</span>
    <validation-provider rules="max31|minDay|required">
      <v-text-field
        v-model="innerValue.atDayModel"
        dense
        @keypress="isNumber($event)"
        @keydown="handleKeyDownAtDay($event)"
      ></v-text-field>
    </validation-provider>

    <span class="ml-4 mr-4">của tháng, mỗi</span>
    <validation-provider rules="minMonth|required">
      <v-text-field
        v-model="innerValue.everyMonth"
        dense
        style="width: 60px"
        @keypress="isNumber($event)"
        @keydown="handleKeyDownEveryMonth($event)"
      >
      </v-text-field>
    </validation-provider>
    <span class="ml-4 mr-4">tháng, tại</span>
    <div class="wrap-input-model-child">
      <flat-pickr
        v-model="innerValue.atTimeOfDayModel"
        :config="config"
        class="pl-11 flat-pickr"
      ></flat-pickr>
      <span class="icon-clock-wrap"
        ><v-icon class="icon-clock">mdi-clock-time-three-outline</v-icon></span
      >
    </div>
  </div>
</template>

<script lang="ts">
import { ValidationProvider } from "vee-validate";
import Vue, { VueConstructor } from "vue";
import KEYCODE_VALUE from "@/const/key-code-value.js";
import CronMixin from "~/mixins/cron-mixin";

interface ComponentData {}

export default (
  Vue as VueConstructor<Vue & InstanceType<typeof CronMixin> & ComponentData>
).extend({
  name: "TabMonth",
  components: {
    ValidationProvider,
  },
  mixins: [CronMixin],
  props: {
    value: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      config: {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        static: true,
      },
    };
  },
  methods: {
    handleKeyDownEveryMonth(evt: KeyboardEvent) {
      if (evt) {
        const charCode = evt.which ? evt.which : evt.keyCode;
        if (charCode === KEYCODE_VALUE.UP_ARROW) {
          this.innerValue.everyMonth = Number(this.innerValue.everyMonth) + 1;
        } else if (charCode === KEYCODE_VALUE.DOWN_ARROW) {
          this.innerValue.everyMonth = Number(this.innerValue.everyMonth) - 1;
          if (this.innerValue.everyMonth < 1) {
            this.innerValue.everyMonth = 0;
          }
        }
      }
    },

    handleKeyDownAtDay(evt: KeyboardEvent) {
      const charCode = evt.which ? evt.which : evt.keyCode;
      if (charCode === KEYCODE_VALUE.UP_ARROW) {
        this.innerValue.atDayModel = Number(this.innerValue.atDayModel) + 1;
      } else if (charCode === KEYCODE_VALUE.DOWN_ARROW) {
        this.innerValue.atDayModel = Number(this.innerValue.atDayModel) - 1;
        if (this.innerValue.atDayModel < 1) {
          this.innerValue.atDayModel = 0;
        }
      }
    },
  },
});
</script>

<style scoped></style>
