<template>
  <validation-provider rules="minMinute|required">
    <div class="wrap-input-model">
      <div class="ml-4 mr-4">Mỗi</div>
      <div class="wrap-input-model-hour">
        <v-text-field
          v-model="innerValue"
          dense
          @keypress="isNumber($event)"
          @keydown="handleKeyDownMinute($event)"
        ></v-text-field>
      </div>
      <div class="wrap-input-label">Phút</div>
    </div>
  </validation-provider>
</template>

<script lang="ts">
import { ValidationProvider } from "vee-validate";
import Vue, { VueConstructor } from "vue";
import KEYCODE_VALUE from "@/const/key-code-value.js";
import CronMixin from "~/mixins/cron-mixin";

export default (
  Vue as VueConstructor<Vue & InstanceType<typeof CronMixin>>
).extend({
  name: "TabMinute",
  components: {
    ValidationProvider,
  },
  mixins: [CronMixin],
  props: {
    value: {
      type: [String, Number],
      required: true,
    },
  },
  methods: {
    handleKeyDownMinute(evt: KeyboardEvent) {
      const charCode = evt.which ? evt.which : evt.keyCode;
      if (charCode === KEYCODE_VALUE.UP_ARROW) {
        this.innerValue = Number(this.innerValue) + 1;
      } else if (charCode === KEYCODE_VALUE.DOWN_ARROW) {
        this.innerValue = Number(this.innerValue) - 1;
        if (this.innerValue < 1) {
          this.innerValue = 1;
        }
      }
    },
  },
});
</script>

<style>
.v-text-field {
  height: 40px !important;
}
</style>
