<template>
  <div class="wrap-input-model">
    <span class="ml-4 mr-4">Hàng tuần</span>
    <div class="d-flex">
      <validation-provider rules="required" class="d-flex" tag="div" immediate>
        <v-checkbox
          v-for="(day, index) in days"
          :key="index"
          v-model="innerValue.checkboxDayModels"
          :label="day"
          :value="index"
          class="pr-5"
        ></v-checkbox>
      </validation-provider>
    </div>

    <span class="pl-4 mr-4">tại</span>
    <div class="wrap-input-model-child">
      <flat-pickr
        v-model="innerValue.atTimeOfDayModel"
        :config="config"
        class="pl-11 flat-pickr"
      >
      </flat-pickr>
      <span class="icon-clock-wrap"
        ><v-icon class="icon-clock">mdi-clock-time-three-outline</v-icon></span
      >
    </div>
  </div>
</template>

<script lang="ts">
import { ValidationProvider } from "vee-validate";
import Vue, { VueConstructor } from "vue";
import CronMixin from "~/mixins/cron-mixin";

interface ComponentData {
  days: Array<string>;
}

export default (
  Vue as VueConstructor<Vue & InstanceType<typeof CronMixin> & ComponentData>
).extend({
  name: "TabWeek",
  components: {
    ValidationProvider,
  },
  mixins: [CronMixin],
  props: {
    value: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      config: {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        static: true,
      },
      days: ["Chủ nhật", "T2", "T3", "T4", "T5", "T6", "T7"],
    };
  },
  methods: {},
});
</script>

<style>
.flatpickr-calendar {
  width: 180px !important;
}
</style>
